cooperacha/practica/banco/src/META-INF/wsdl/10.56.250.125_8084/banco2/API.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://my.org/ns/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://my.org/ns/" name="API">
<types>
<xsd:schema>
<xsd:import namespace="http://my.org/ns/" schemaLocation="http://10.56.250.125:8084/banco2/API?xsd=1" />
</xsd:schema>
</types>
<message name="operation">
<part name="parameters" element="tns:operation" />
</message>
<message name="operationResponse">
<part name="parameters" element="tns:operationResponse" />
</message>
<message name="cuentaNueva">
<part name="parameters" element="tns:cuentaNueva" />
</message>
<message name="cuentaNuevaResponse">
<part name="parameters" element="tns:cuentaNuevaResponse" />
</message>
<message name="debitarCuenta">
<part name="parameters" element="tns:debitarCuenta" />
</message>
<message name="debitarCuentaResponse">
<part name="parameters" element="tns:debitarCuentaResponse" />
</message>
<message name="getCuentasAsociadas">
<part name="parameters" element="tns:getCuentasAsociadas" />
</message>
<message name="getCuentasAsociadasResponse">
<part name="parameters" element="tns:getCuentasAsociadasResponse" />
</message>
<message name="debitarTarjeta">
<part name="parameters" element="tns:debitarTarjeta" />
</message>
<message name="debitarTarjetaResponse">
<part name="parameters" element="tns:debitarTarjetaResponse" />
</message>
<message name="acreditarCuenta">
<part name="parameters" element="tns:acreditarCuenta" />
</message>
<message name="acreditarCuentaResponse">
<part name="parameters" element="tns:acreditarCuentaResponse" />
</message>
<message name="getEstadoCta">
<part name="parameters" element="tns:getEstadoCta" />
</message>
<message name="getEstadoCtaResponse">
<part name="parameters" element="tns:getEstadoCtaResponse" />
</message>
<portType name="API">
<operation name="operation">
<input wsam:Action="http://my.org/ns/API/operationRequest" message="tns:operation" />
<output wsam:Action="http://my.org/ns/API/operationResponse" message="tns:operationResponse" />
</operation>
<operation name="cuentaNueva">
<input wsam:Action="http://my.org/ns/API/cuentaNuevaRequest" message="tns:cuentaNueva" />
<output wsam:Action="http://my.org/ns/API/cuentaNuevaResponse" message="tns:cuentaNuevaResponse" />
</operation>
<operation name="debitarCuenta">
<input wsam:Action="http://my.org/ns/API/debitarCuentaRequest" message="tns:debitarCuenta" />
<output wsam:Action="http://my.org/ns/API/debitarCuentaResponse" message="tns:debitarCuentaResponse" />
</operation>
<operation name="getCuentasAsociadas">
<input wsam:Action="http://my.org/ns/API/getCuentasAsociadasRequest" message="tns:getCuentasAsociadas" />
<output wsam:Action="http://my.org/ns/API/getCuentasAsociadasResponse" message="tns:getCuentasAsociadasResponse" />
</operation>
<operation name="debitarTarjeta">
<input wsam:Action="http://my.org/ns/API/debitarTarjetaRequest" message="tns:debitarTarjeta" />
<output wsam:Action="http://my.org/ns/API/debitarTarjetaResponse" message="tns:debitarTarjetaResponse" />
</operation>
<operation name="acreditarCuenta">
<input wsam:Action="http://my.org/ns/API/acreditarCuentaRequest" message="tns:acreditarCuenta" />
<output wsam:Action="http://my.org/ns/API/acreditarCuentaResponse" message="tns:acreditarCuentaResponse" />
</operation>
<operation name="getEstadoCta">
<input wsam:Action="http://my.org/ns/API/getEstadoCtaRequest" message="tns:getEstadoCta" />
<output wsam:Action="http://my.org/ns/API/getEstadoCtaResponse" message="tns:getEstadoCtaResponse" />
</operation>
</portType>
<binding name="APIPortBinding" type="tns:API">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="operation">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="cuentaNueva">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="debitarCuenta">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getCuentasAsociadas">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="debitarTarjeta">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="acreditarCuenta">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getEstadoCta">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="API">
<port name="APIPort" binding="tns:APIPortBinding">
<soap:address location="http://10.56.250.125:8084/banco2/API" />
</port>
</service>
</definitions>