cooperacha/practica/Envios/xml-resources/web-service-references/servicioenvios/wsdl/localhost_8084/serviciowebenvios/servicioenvios.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicio/" name="servicioenvios">
<types>
<xsd:schema>
<xsd:import namespace="http://servicio/" schemaLocation="http://localhost:8084/serviciowebenvios/servicioenvios?xsd=1" />
</xsd:schema>
</types>
<message name="crearenvio">
<part name="parameters" element="tns:crearenvio" />
</message>
<message name="crearenvioResponse">
<part name="parameters" element="tns:crearenvioResponse" />
</message>
<message name="consultaruta">
<part name="parameters" element="tns:consultaruta" />
</message>
<message name="consultarutaResponse">
<part name="parameters" element="tns:consultarutaResponse" />
</message>
<message name="asignarruta">
<part name="parameters" element="tns:asignarruta" />
</message>
<message name="asignarrutaResponse">
<part name="parameters" element="tns:asignarrutaResponse" />
</message>
<message name="consultarDonaciones">
<part name="parameters" element="tns:consultarDonaciones" />
</message>
<message name="consultarDonacionesResponse">
<part name="parameters" element="tns:consultarDonacionesResponse" />
</message>
<message name="actualizardonaciones">
<part name="parameters" element="tns:actualizardonaciones" />
</message>
<message name="actualizardonacionesResponse">
<part name="parameters" element="tns:actualizardonacionesResponse" />
</message>
<message name="actualizarpaquete">
<part name="parameters" element="tns:actualizarpaquete" />
</message>
<message name="actualizarpaqueteResponse">
<part name="parameters" element="tns:actualizarpaqueteResponse" />
</message>
<message name="consultarpaquetesRuta">
<part name="parameters" element="tns:consultarpaquetesRuta" />
</message>
<message name="consultarpaquetesRutaResponse">
<part name="parameters" element="tns:consultarpaquetesRutaResponse" />
</message>
<message name="consultarrutanombre">
<part name="parameters" element="tns:consultarrutanombre" />
</message>
<message name="consultarrutanombreResponse">
<part name="parameters" element="tns:consultarrutanombreResponse" />
</message>
<message name="obtenerdirecciondonacion">
<part name="parameters" element="tns:obtenerdirecciondonacion" />
</message>
<message name="obtenerdirecciondonacionResponse">
<part name="parameters" element="tns:obtenerdirecciondonacionResponse" />
</message>
<message name="consultarpaquetes">
<part name="parameters" element="tns:consultarpaquetes" />
</message>
<message name="consultarpaquetesResponse">
<part name="parameters" element="tns:consultarpaquetesResponse" />
</message>
<portType name="servicioenvios">
<operation name="crearenvio">
<input wsam:Action="http://servicio/servicioenvios/crearenvioRequest" message="tns:crearenvio" />
<output wsam:Action="http://servicio/servicioenvios/crearenvioResponse" message="tns:crearenvioResponse" />
</operation>
<operation name="consultaruta">
<input wsam:Action="http://servicio/servicioenvios/consultarutaRequest" message="tns:consultaruta" />
<output wsam:Action="http://servicio/servicioenvios/consultarutaResponse" message="tns:consultarutaResponse" />
</operation>
<operation name="asignarruta">
<input wsam:Action="http://servicio/servicioenvios/asignarrutaRequest" message="tns:asignarruta" />
<output wsam:Action="http://servicio/servicioenvios/asignarrutaResponse" message="tns:asignarrutaResponse" />
</operation>
<operation name="consultarDonaciones">
<input wsam:Action="http://servicio/servicioenvios/consultarDonacionesRequest" message="tns:consultarDonaciones" />
<output wsam:Action="http://servicio/servicioenvios/consultarDonacionesResponse" message="tns:consultarDonacionesResponse" />
</operation>
<operation name="actualizardonaciones">
<input wsam:Action="http://servicio/servicioenvios/actualizardonacionesRequest" message="tns:actualizardonaciones" />
<output wsam:Action="http://servicio/servicioenvios/actualizardonacionesResponse" message="tns:actualizardonacionesResponse" />
</operation>
<operation name="actualizarpaquete">
<input wsam:Action="http://servicio/servicioenvios/actualizarpaqueteRequest" message="tns:actualizarpaquete" />
<output wsam:Action="http://servicio/servicioenvios/actualizarpaqueteResponse" message="tns:actualizarpaqueteResponse" />
</operation>
<operation name="consultarpaquetesRuta">
<input wsam:Action="http://servicio/servicioenvios/consultarpaquetesRutaRequest" message="tns:consultarpaquetesRuta" />
<output wsam:Action="http://servicio/servicioenvios/consultarpaquetesRutaResponse" message="tns:consultarpaquetesRutaResponse" />
</operation>
<operation name="consultarrutanombre">
<input wsam:Action="http://servicio/servicioenvios/consultarrutanombreRequest" message="tns:consultarrutanombre" />
<output wsam:Action="http://servicio/servicioenvios/consultarrutanombreResponse" message="tns:consultarrutanombreResponse" />
</operation>
<operation name="obtenerdirecciondonacion">
<input wsam:Action="http://servicio/servicioenvios/obtenerdirecciondonacionRequest" message="tns:obtenerdirecciondonacion" />
<output wsam:Action="http://servicio/servicioenvios/obtenerdirecciondonacionResponse" message="tns:obtenerdirecciondonacionResponse" />
</operation>
<operation name="consultarpaquetes">
<input wsam:Action="http://servicio/servicioenvios/consultarpaquetesRequest" message="tns:consultarpaquetes" />
<output wsam:Action="http://servicio/servicioenvios/consultarpaquetesResponse" message="tns:consultarpaquetesResponse" />
</operation>
</portType>
<binding name="servicioenviosPortBinding" type="tns:servicioenvios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="crearenvio">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="consultaruta">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="asignarruta">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="consultarDonaciones">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="actualizardonaciones">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="actualizarpaquete">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="consultarpaquetesRuta">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="consultarrutanombre">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="obtenerdirecciondonacion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="consultarpaquetes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="servicioenvios">
<port name="servicioenviosPort" binding="tns:servicioenviosPortBinding">
<soap:address location="http://localhost:8084/serviciowebenvios/servicioenvios" />
</port>
</service>
</definitions>